<!DOCTYPE html>
<html>
	<head>	
		<title>
			XYZ
		</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
		<body>
			<ul id="navbar">
				<li>Make a Book</li>
				<li>The Short Story</li>
				<li>How it Works</li>
			</ul>
			<div class="container">
				<!-- build 3 horizontal sub-containers? with id "section1, section2, section3" -->
				<h1>The Inheritance Project</h1>
				<div id="section1">

						
				</div>
				<div id="section2">
					
				<!-- 	<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
					</p> -->
					<h2>Stuff & Stuff</h2>
				</div>
				<div id="section3">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
					</p>
					<h2>And some more Stuff</h2>
				</div>
			</div>
		</body>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="main.js"></script>
</html>