	/*Style Guide Starter: Discuss with Mel*/

	/*
		Full width image, 1/3 the page size to allow for second and third horizontal sections
	
		Font should be simple, reader friendly, look good in light or dark colors at medium weight
	
		Need a way to style links: font weight change? color? movement?
	
		Need a palette and font hierarchy
		
		Sections:
		1. always a large image set in the top third of the page?
		2. always featuring one
		3. always featuring the other?*/

html {
	background-color: #b3eaff;
	/*homepage is Martha's Vineyard pic of mom & dad
	 clicking on mom's photo reveals one of the palm prints from the Inheritance Pinterest board. 
	 clicking on dad reveals....?
	 */
	 font-family: arial, sans-serif;
	 color: slategrey;
}
#navbar {
	color: white;
	padding-bottom: 10px;
	height: 100px;
}
#navbar li {
	text-decoration: none;
	display: inline;
	font-size: 13px;
	font-weight: medium;
	padding: 5px;
	float: right;


}
.container {
	width: 1190px;
	height: 350px ;
	margin: ;
	padding: ;
	/*background color:SOME LIGHT COLOR FOR NOW?*/

}
.container p{
	width: 80%;
	margin-left: 15%;
	margin-right: 15%;
}
#section1	{
/*	width: auto;
ss*/
}
#section2	{
width:auto ;
	height:680px ;
	background-image: url("images/Folk.jpg");
	/*background-size: 1190px 700px;*/
	background-repeat: no-repeat;
}
#section3	{
width: auto;
	height: 300px;
	background-color:;
}



